.toolBar {
  display: flex;
  justify-content: flex-end;
  width: 400px;
}

@media screen and (max-width: 480px) {
  .toolBar {
    display: none;
  }
}
@media screen and (min-width: 480.1px) and (max-width: 820px) {
  .toolBar {
    display: none;
  }
}
